/* Static Footer */

.staticfooter {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  padding: 40px;
  background-color: #f2f7ff;
}

.staticfooter-text-left {
  font-size:15px;
  padding-left:40px;
  float:left;
  word-spacing:20px;
}

.staticfooter-content-right {
  float:right;

}